---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  
  {
    date: "Febrero 2023",
    title: "Creador de Contenido",
    company: "colectivo.work",
    description:
      "Tuve una breve experiencia laboral como freelance en un proyecto, la cual fue invaluable para comprender mejor el funcionamiento del mercado y adquirir conocimientos prácticos sobre su dinámica.",
  },
  {
    date: "Mayo 2023 - Agosto 2023",
    title: " Asistente de Profesor",
    company: "Universidad ORT Uruguay",
    description:
      "Colaboré como asistente en una materia dedicada a la producción de contenido, contribuyendo a la creación de animaciones y al desarrollo de material para redes sociales, lo que me permitió adquirir experiencia práctica en el ámbito académico y digital.",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
